.row{   
    background-color:#25C68E;
    color:#1F27CF;
    font-size:35px;
    display:flex;
    justify-content:space-around;
    font-family: 'Kirang Haerang', cursive;
}
#name{
    font-family: 'Fjalla One', sans-serif;
}
#last{
    font-family: 'Fjalla One', sans-serif;
}
.headshot{
    width:20%;
    background-color:white;
   border-radius:1000%;
   
}
.mid{
    background-color:#5A3972;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;   
}
h1{
    color:#21A689;
}
